*~
*.la
*.lo
*.in
*.kde*
*.log
*.o
*.sh
nfq-web-filter-config.h
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
core*
depcomp
.deps
doc/
filter_test1
INSTALL
install-sh
libtool
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile
missing
nfq-proxy-config.h
stamp-h1
vgcore.*
web_proxy
nfqwf
.libs/

